//
// FONTS
//


@font-face {
  font-family: "Museo900-Regular"; font-style: normal; font-weight: normal;
  src: url('../font/Museo900-Regular.otf');
}


@font-face {
  font-family: "PFDinTextPro-ExtraThin"; font-style: normal; font-weight: normal;
  src: url('../font/a/PFDinTextPro-ExtraThin.otf');
  src: url('../font/a/PFDinTextPro-ExtraThin.ttf');
}

@font-face {
  font-family: "PFDinTextPro-Regular"; font-style: normal; font-weight: normal;
  src: url('../font/a/PFDinTextPro-Regular.otf');
  src: url('../font/a/PFDinTextPro-Regular.ttf');
}

// @font-face {
//   font-family: "PFDinTextPro-ExtraBlack"; font-style: normal; font-weight: normal;
//   src: url('../font/a/PFDinTextPro-ExtraBlack.otf');
// }

@font-face {
  font-family: "PFDinTextPro-Medium"; font-style: normal; font-weight: normal;
  src: url('../font/a/PFDinTextPro-Medium.otf');
  src: url('../font/a/PFDinTextPro-Medium.ttf');
}



//
// MARKUP
//


.fl_left { float: left; }
.fl_right { float: right; }

%fl_left { float: left; }
%fl_right { float: right; }

%pos_rel { position: relative; }

%d_table { display: table; }
%d_table-cell { display: table-cell; }

.lh_0 { line-height: 0; }

.padding_block-10 { padding: 0 10px 10px 10px; }
.m_left-20 { margin-left: 20px; }

//
// COLOR
//


.black { color: black; }
.white { color: white; }

%black { color: black; }
%white { color: white; }